/*mozilla*/
@-moz-document url-prefix() {
    .classnya {width: 100px; height: 80px }
}




@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

        .bgNav {
            background: rgb(248, 249, 250, .8);
        }

        .bgNav:hover {
          background: rgb(248, 249, 250);

        }

        .logo-jurnal {
            height: 50px;
            width: 50px;
        }

        .kartu {
            justify-content: center;
            align-items: center;
            display: flex;
        }
        
        .jarak {
            padding-inline: 35px;
            padding-bottom: 7px;
        }

        .tesss {
            background: red;
            width: 100%;
        }

        /* .tentang img {
          float: left;
        } */

        .tess {
            background: green;
        }

        /* carousel */
        .carousel-item {
            height: 32rem;
            background: #111;
            color: #eaeaea;
            position: relative;
          }
    
          .container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 50px;
          }
    
          .overlay-image {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            opacity: .5;
          }

@media (max-width: 500px) {
    .logo-tentang {
        width: 100%;
    }
    .logo-tentang-wrap {
        float: none;
        justify-content: center;
        align-items: center;
        width: 100;
    }

}

.nav-end {
    float: right;
}

/* kontent 2 */
.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrap2 {
    background: rgb(248, 249, 250);
    width: 95%;
    height: auto;
}

.tengah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap2 p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;

}

.logo {
    height: 250px;
    width: 250px;
}

